.carrossel{
    font-family: var(--fonte-principal);
    padding: 0;
    margin: 0;
}

.carrossel__titulo{
    background-color: var( --cor--fundo--cabecalho);
    color: var(--laranja);
    text-align: center;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 700;
    padding: 1em 0 0.5em 0;
  
   
}

.swiper-slide img{
    width: 90%;
}
.swiper-button-prev, .swiper-button-next{
    display: none;
}
.swiper-pagination{
    position: initial;
}
    
.card{
    margin: 1em;
    padding: 1em;
    background-color: var(--cor--fundo--cabecalho);
    border-radius: 10px;
    font-family: var(--fonte-principal);
}

.card__descricao{
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.5em;
}

.descricao__titulo{
    color: var(--laranja);
    font-weight: 700;
    
    
}
.descricao__livro{
    font-size: 18px;
    color: var(--azul-textos);
    margin: 0.5em 0;
    font-weight: 700;
}

.descricao__texto{
    font-size: 14px;
    
}

.botoes{
    display: flex;
    justify-content: space-between;
}
.botoes__icones{
    display: flex;
    gap: 0.5em;
}

.botoes-ancora{
    color: var(--cor--de--fundo);
    background-color: var(--laranja);
    text-decoration: none;
    padding: 1em 2.2em;
    font-weight: 700;
}

@media screen and (min-width:1024px) {
    
    .carrossel__container{
        padding: 0 6em;
    }
    .carrossel__titulo{
        font-size: 26px;
    }
    .swiper-pagination{
        margin: 2em 0 3em 0;
    }
    .swiper-slide img{
        width: 70%;
    }
    .swiper-button-prev, .swiper-button-next{
        display: block;
    }

    .card{
        width: 70%;
        margin: 3em auto;
    }

}

@media screen and (min-width: 1639px){
    .carrossel{
        padding: 0;
    }
    .carrossel__container{
        display: flex;
        align-items: center;
        padding: 0 10vw 1em 10vw;
    }
    .swiper-pagination{
        margin: 1em;
    }
   
    .descricao__titulo{
        font-size: 2em;
        
    }
    .card{
        width: 80%;
        margin-left: 2em;
    }
    .card__descricao__textos{
        margin-right: 1em;
    }
    .descricao__texto{
        font-size: 1em;
    }
    
}